body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
#start-button {
    padding: 100px 200px;
    font-size: 36px;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    background-color: #007bff;
    color: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 20px;
}

/* .left-half {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
    box-sizing: border-box;
}

.right-half {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
    box-sizing: border-box;
} */

.left-half, .right-half {
    flex: 1;
    padding: 20px;
}

.left-half {
    border-right: 1px solid #ccc;
}

.right-half {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.photo-section {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 0;
    box-sizing: border-box;
}


#photo-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: 15px;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.grid-item-large {
    grid-column: span 2;
    grid-row: span 1;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 20vw;
}

.grid-item-large img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


.grid-item-small {
    width: 100%;
    height: 15vw;
    position: relative;
    overflow: hidden;
}

.grid-item-small img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    max-width: 80%;
    max-height: 80%;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.pallet-info {
    width: 200px; /* Задайте фиксированную ширину для контейнера, если это необходимо */
    padding: 10px; /* Отступ вокруг текста */
    /* border: 1px solid #ccc; Граница контейнера */
    /* background-color: #f9f9f9; Фон контейнера */
    box-sizing: border-box; /* Учитывает padding и border в ширине элемента */
}

#pallete_id {
    margin: 0; /* Убираем отступы по умолчанию */
    text-align: left; /* Выравнивание текста по левому краю */
    font-weight: bold;
}

.status-container {
    margin-top: 10px; /* Отступ сверху для разделения с текстом */
}

.status-label {
    margin-bottom: 10px; /* Отступ снизу для разделения с кружочками */
    font-weight: bold;
}

.status-circles {
    display: flex; /* Выравнивание кружочков в ряд */
    justify-content: space-around; /* Распределение кружочков по горизонтали */
    align-items: flex-end; /* Выравнивание кружочков по нижнему краю */
}

.circle-wrapper {
    text-align: center; /* Выравнивание текста по центру внутри обертки */
}

.circle {
    width: 30px; /* Ширина кружочка */
    height: 30px; /* Высота кружочка */
    border-radius: 50%; /* Закругление для создания кружочка */
    background-color: #D0D9D9; /* Цвет кружочка по умолчанию */
    margin-bottom: 5px; /* Отступ снизу для размещения цифры */
}

.circle-number {
    font-size: 14px; /* Размер шрифта для цифры */
    color: #333; /* Цвет текста */
}

.stop-button-container {
    display: flex; /* Выравнивание кнопки и текста в ряд */
    align-items: left; /* Выравнивание по центру по вертикали */
    margin-top: 20px; /* Отступ сверху для разделения с предыдущими элементами */
}

.stop-button {
    width: 40px; /* Ширина кнопки */
    height: 40px; /* Высота кнопки */
    border-radius: 50%; /* Полное закругление для создания круга */
    background-color: #D0D9D9; /* Цвет кнопки по умолчанию */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-right: 10px; /* Отступ справа для текста */
    border: none; /* Убирае м стандартные границы кнопки */
    cursor: pointer; /* Курсор при наведении */
    position: relative; /* Для позиционирования внутреннего кружочка */
    /* transition: background-color 0.3s, transform 0.2s; Плавные переходы для фона и трансформации */
}

.stop-button:hover {
    background-color: #b0b0b0; /* Цвет кнопки при наведении */
}

.stop-button:active {
    transform: scale(0.95); /* Немного уменьшает размер кнопки при нажатии */
}

.stop-button-inner {
    width: 30px; /* Ширина внутреннего кружочка */
    height: 30px; /* Высота внутреннего кружочка */
    border-radius: 50%; /* Закругление для создания кружочка */
    background-color: #E6341C; /* Красный цвет внутреннего кружочка */
}


.stop-button-inner {
    width: 30px; /* Ширина внутреннего кружочка */
    height: 30px; /* Высота внутреннего кружочка */
    border-radius: 50%; /* Закругление для создания кружочка */
    background-color: #E6341C; /* Красный цвет внутреннего кружочка */
}

.stop-button-text {
    font-size: 14px; /* Размер шрифта для текста */
    font-weight: bold;
}

#photo-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Две колонки для маленьких фото */
    grid-gap: 10px;
    max-width: 100%; /* Максимальная ширина контейнера */
    max-height: 400px; /* Ограничиваем высоту, подставьте нужное значение */
    overflow: hidden; /* Обрезаем контент, если он выходит за пределы контейнера */
}

.grid-item-large {
    grid-column: span 2; /* Занимает две колонки */
    width: 100%;
    height: auto;
}

/* .grid-item-small {
    width: 100%;
    height: auto;
    object-fit: cover; /* Масштабируем изображение, чтобы оно вписалось в контейнер */
/* } */

/* #photo-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Сохраняем соотношение сторон изображения */
/* }  */ */

/* #photo-grid {
    display: grid;
    grid-template-columns: 1fr; /* Сначала одна колонка для первого фото */
    /* grid-gap: 10px; Расстояние между фото */
/* } */

/* .grid-item-large {
    grid-column: span 1;
} */

/* .grid-item-small {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
} */

/*
#photo-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
} */

/* .grid-item-large {
    grid-column: 1 / -1;
    width: 50%;
}

.grid-item-small {
    width: 25%;
}

#photo-grid > .grid-item-small:nth-child(n+2) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

#inImageContainer {
    width: 100%;
    max-width: 100%;
} */


/* #photo-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto auto auto; 
    grid-gap: 10px;
    grid-template-areas: 
        "large large" 
        "small1 small2" 
        "small3 small4"; 
} */

#photo-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Две колонки */
    grid-template-rows: auto auto auto; /* Три строки: первая для большого фото, остальные для маленьких */
    grid-gap: 10px;
}

/* Первое фото большое, оно занимает всю ширину (2 колонки) */
.grid-item-large {
    grid-column: 1 / span 2;
    grid-row: 1;
    width: 100%;
}

/* Второе фото под первым фото, слева */
.grid-item-small:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
    width: 100%;
}

/* Третье фото под первым фото, справа */
.grid-item-small:nth-child(3) {
    grid-column: 2;
    grid-row: 2;
    width: 100%;
}

/* Четвёртое фото под вторым фото, слева */
.grid-item-small:nth-child(4) {
    grid-column: 1;
    grid-row: 3;
    width: 100%;
}

/* Пятое фото под третьим фото, справа */
.grid-item-small:nth-child(5) {
    grid-column: 2;
    grid-row: 3;
    width: 100%;
}
