{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/start_page.css' %}">  
    <title>Start Page</title>

</head>
<body>
    <div class="container">
        <!-- Левая половина (с фотографиями) -->
        <div class="start-button-container">
            <button id="start-button">Начать работу</button>
        </div>
        <div class="left-half">
            <!-- <button id="start-button">Начать работу</button> -->

            <div class="pallet-info" id="pallet-info" style="display: none;">
                <p id="pallete_id">Pallet ID: </p>
                <div class="status-container">
                    <div class="status-label">Photo status</div>
                    <div class="status-circles">
                        <div class="circle-wrapper">
                            <div class="circle" id="circle1"></div>
                            <div class="circle-number">1</div>
                        </div>
                        <div class="circle-wrapper">
                            <div class="circle" id="circle2"></div>
                            <div class="circle-number">2</div>
                        </div>
                        <div class="circle-wrapper">
                            <div class="circle" id="circle3"></div>
                            <div class="circle-number">3</div>
                        </div>
                        <div class="circle-wrapper">
                            <div class="circle" id="circle4"></div>
                            <div class="circle-number">4</div>
                        </div>
                        <div class="circle-wrapper">
                            <div class="circle" id="circle5"></div>
                            <div class="circle-number">5</div>
                        </div>
                    </div>
                </div>
                <!-- <div class="stop-button-container">
                    <div class="stop-button">
                        <div class="stop-button-inner"></div>
                    </div>
                    <div class="stop-button-text">Остановить детектирование</div>
                </div> -->
            
            </div>
        </div>
        <div class="right-half">
            <div class="right-half-top">
                <div class="'pipelineAnswer-container">
                    <div id="pipelineAnswer" style="display: none;"></div>
                </div>
                <div id="inImageContainer" style="display: none;">


                </div>


            </div>

            <div class="right-half-bottom">
                <div id="photo-grid" class="photo-grid" style="display: none;">


                </div>
            </div>


            </div>
        </div>
    </div>

    <script src="{% static 'assets/start_page.js' %}"></script>
</body>
</html>
